{% extends 'GicsdrArmatucanastaBundle::base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<h1>Lista de Insumos</h1>
<div class="row">
    <div class="span1">U/M</div>
    <div class="span1">Codigo</div>
    <div class="span5">Descripcion</div>
    <div class="span1">Actions</div>
</div>
{% for entity in entities %}
    <div class="row">
        <div class="span1">{{ entity.unidaddescripcion }}</div>
        <div class="span1">{{ entity.codigo }}</div>
        <div class="span5">{{ entity.descripcion }}</div>
        <div class="span1">
            <ul>
                <li>
                    <a href="{{ path('insumo_show', { 'id': entity.id }) }}">Mostrar</a>
                </li>
                <li>
                    <a href="{{ path('insumo_edit', { 'id': entity.id }) }}">Editar</a>
                </li>
            </ul>
        </div>
    </div>
{% endfor %}

<ul>
    <li>
        <a href="{{ path('insumo_new') }}">
            Crear nueva lista de insumos
        </a>
    </li>
</ul>
{% endblock %}
