<h1>Insumo</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Id_unidad</th>
            <td>{{ entity.idunidad }}</td>
        </tr>
        <tr>
            <th>Codigo</th>
            <td>{{ entity.codigo }}</td>
        </tr>
        <tr>
            <th>Descripcion</th>
            <td>{{ entity.descripcion }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('insumo') }}">
            Volver a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('insumo_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('insumo_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar</button>
        </form>
    </li>
</ul>
