{% extends 'GicsdrArmatucanastaBundle::base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<h1>Cocina edit</h1>

<form action="{{ path('cocina_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('cocina') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('cocina_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
