{% extends 'GicsdrArmatucanastaBundle::base.html.twig' %}

{% block title %}Mostrar Cocina{% endblock %}

{% block body %}
<h1>Cocina</h1>

<table class="record_properties">
    <tbody>
        <tr>
        </tr>
        <tr>
            <th>Descripción</th>
            <td>{{ entity.descripcion }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('cocina') }}">
            Volver a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('cocina_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('cocina_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar</button>
        </form>
    </li>
</ul>
{% endblock %}
