{% extends 'GicsdrArmatucanastaBundle::base.html.twig' %}

{% block title %}Lista de Conversión{% endblock %}

{% block body %}
<h1>lista de conversión</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id_unidad_desde</th>
            <th>Id_unidad_hasta</th>
            <th>Factor</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('conversion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.idunidaddesde }}</td>
            <td>{{ entity.idunidadhasta }}</td>
            <td>{{ entity.factor }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('conversion_show', { 'id': entity.id }) }}">mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('conversion_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('conversion_new') }}">
            Crear nueva conversión
        </a>
    </li>
</ul>
{% endblock %}
