{% extends 'GicsdrArmatucanastaBundle::base.html.twig' %}

{% block title %}Mostrar la conversión{% endblock %}

{% block body %}
<h1>Conversión</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Id_unidad_desde</th>
            <td>{{ entity.idunidaddesde }}</td>
        </tr>
        <tr>
            <th>Id_unidad_hasta</th>
            <td>{{ entity.idunidadhasta }}</td>
        </tr>
        <tr>
            <th>Factor</th>
            <td>{{ entity.factor }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('conversion') }}">
            Volver a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('conversion_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('conversion_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar</button>
        </form>
    </li>
</ul>
{% endblock %}
