{% extends 'GicsdrArmatucanastaBundle::base.html.twig' %}

{% block title %}Mostrar Plato{% endblock %}

{% block body %}
<h1>Plato</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <td>{{ plato.id }}</td>
        </tr>
        <tr>
            <th>TIPO DE COMIDA</th>
            <td>{{ plato.cocinadescripcion }}</td>
        </tr>
        <tr>
            <th>PLATO</th>
            <td>{{ plato.nombre }}</td>
        </tr>
        <tr>
            <th>DESCRIPCIÓN</th>
            <td>{{ plato.descripcion }}</td>
        </tr>
        <tr>
            <th># PERSONAS</th>
            <td>{{ plato.numpersonas }}</td>
        </tr>
        <tr>
            <th>PREPARACIÓN</th>
            <td>{{ plato.preparacion }}</td>
        </tr>
        <tr>
            <th>Img_path</th>
            <td>{{ plato.imgpath }}</td>
        </tr>
    </tbody>
</table>
<p>INGREDIENTES</p>

<div class="row">
    <div class="span1">Cantidad</div>
    <div class="span1">Unidad</div>
    <div class="span4">Ingrediente</div>
</div>

{% for ingrediente in ingredientes %}
    <div class="row">
        <div class="span1">{{ ingrediente.cantidad }}</div>
        <div class="span1">{{ ingrediente.unidaddescbreve }}</div>
        <div class="span4">{{ ingrediente.insumodescripcion }}</div>
    </div>
{% endfor %}

<p>AGREGAR INGREDIENTE</p>

<form action="{{ path('plato_agregaringrediente', { 'id': plato.id }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Agregar</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('plato') }}">
            Volver a la lista
        </a>
    </li>
</ul>
{% endblock %}
