{% extends 'GicsdrArmatucanastaBundle::base.html.twig' %}

{% block title %}Lista de Platos{% endblock %}

{% block body %}
<h1 class="aligncenter">Lista de Platos</h1>

<table class="records_list">
    <div class="row aligncenter">
            <div class="span2">PLATO</div>
            <!-- <div class="span4">Descripción</div> -->
            <div class="span1">#PERSONAS</div>
            <div class="span6">PREPARACIÓN</div>
            <div class="span3">ACCIONES</div>
    </div>
    {% for entity in entities %}
        <div class="row">
            <div class="span2">
                <h4>{{ entity.nombre }}</h4>
                <p>{{entity.cocinadescripcion}}</p>
            </div>
            <!-- <div class="span4">{{ entity.descripcion }}</div> -->
            <div class="span1 fontsmall">Para {{ entity.numpersonas }} per.</div>
            <div class="span6 fontsmall">{{ entity.preparacion }}</div>
            <div class="row aligncenter">
                <ul>
                    <p>
                        <a href="{{ path('plato_show', {'id': entity.id }) }}">Mostrar</a>
                    </p>
                    <p>
                        <a href="{{ path('plato_edit', {'id': entity.id }) }}">Editar</a>
                    </p>
                    <p>
                        <a href="{{path('plato_agregaringrediente', { 'id': entity.id })}}">Agregar Ingredientes</a>
                    </p>
                </ul>
            </div>
        </div>
    {% endfor %}
</table>

<ul>
    <li>
        <a href="{{ path('plato_new') }}">
            Crear una nueva lista
        </a>
    </li>
</ul>
{% endblock %}
