{% extends 'GicsdrArmatucanastaBundle::base.html.twig' %}

{% block title %}Lista de Platos{% endblock %}

{% block body %}
<h1>Lista de Platos</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Cocina</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Num. Personas</th>
            <th>Preparación</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.cocinadescripcion }}</td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.descripcion }}</td>
            <td>{{ entity.numpersonas }}</td>
            <td>{{ entity.preparacion }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('plato_show', { 'id': entity.id }) }}">Mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('plato_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('plato_new') }}">
            Crear una nueva lista
        </a>
    </li>
</ul>
{% endblock %}
