{% extends 'GicsdrArmatucanastaBundle::base.html.twig' %}

{% block title %}Lista de Platos{% endblock %}

{% block body %}
<h1>Lista de Platos</h1>

<table class="records_list">
    <div class="row">
            <div class="span1">Cocina</div>
            <div class="span2">Nombre</div>
            <div class="span4">Descripción</div>
            <div class="span1">Num. Personas</div>
            <div class="span3">Preparación</div>
            <div class="span1">Actions</div>
    </div>
    {% for entity in entities %}
        <div class="row">
            <div class="span1">{{ entity.cocinadescripcion }}</div>
            <div class="span2">{{ entity.nombre }}</div>
            <div class="span4">{{ entity.descripcion }}</div>
            <div class="span1">{{ entity.numpersonas }}</div>
            <div class="span3">{{ entity.preparacion }}</div>
                <div class="span1">
                    <li>
                        <a href="{{ path('plato_show', { 'id': entity.id }) }}">Mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('plato_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </div>
        </div>
    {% endfor %}
</table>

<ul>
    <li>
        <a href="{{ path('plato_new') }}">
            Crear una nueva lista
        </a>
    </li>
</ul>
{% endblock %}
