{% extends 'GicsdrArmatucanastaBundle::base.html.twig' %}

{% block title %}Mostrar Plato{% endblock %}

{% block body %}
<h1>{{entity.nombre}}</h1>

<table class="record_properties">
    <tbody>
        <tr>
        <!-- <td>{{ entity.id }}</td> -->
        </tr>
        <tr>
            <!-- <th>Id_cocina</th>
            <td>{{ entity.idcocina }}</td> -- -->
        </tr>
        <tr>
            <th>PLATO</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <!-- <th>Descripcion</th>
            <td>{{ entity.descripcion }}</td> -->
        </tr>
        <tr>
            <th>Num_personas</th>
            <td>{{ entity.numpersonas }}</td>
        </tr>
        <tr>
            <th>Preparacion</th>
            <td>{{ entity.preparacion }}</td>
        </tr>
        <tr>
            <!-- <th>Img_path</th>
            <td>{{ entity.imgpath }}</td> -->
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('plato') }}">
            Volver a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('plato_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('plato_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar</button>
        </form>
    </li>
</ul>
{% endblock %}
